### Importar librería pandas:

In [176]:
import pandas as pd

### 1. Lectura del archivo

In [204]:
df = pd.read_csv('listado-de-personal-2022-04.csv', sep=';', encoding='latin-1')

### 2. Nombre de las columnas

In [205]:
df.columns

Index(['Código', 'Nombre', 'Gerencia', 'Puesto'], dtype='object')

### 3. Cantidad de registros (filas)

In [206]:
df.shape[0]

761

### 4. Ver los primeros 15 registros

In [207]:
df.head(15)

,Código,Nombre,Gerencia,Puesto
0,4,"LEAL, Facundo",Gerencia General,Gerente General
1,8,"COVINI, Agostina",Subgerencia de RRHH y RSE,Subgerente de RRHH y RSE
2,11,"SALAMA, Alejandro Jonathan",Unidad de Auditoría Interna,Analista de Auditoria
3,12,"PERICAS, Pablo Nicolas",Unidad de Auditoría Interna,Jefe de Unidad de Auditoría Interna
4,14,"GARBARINO, Hernán",Gerencia de Operaciones,Auxiliar Administrativo
5,22,"CANET, Nicolas Enrique",Gerencia de Administración y Finanzas,Gerente de Administración y Finanzas
6,23,"AURELIO, Juan Antonio",Gerencia de Servicios Espaciales,Subgerente de Operaciones Satelitales
7,24,"BEROS, Beatriz Ana",Gerencia de Operaciones,Coordinador Administrativo
8,25,"BOADO, Gustavo Manuel",Gerencia de Servicios Espaciales,Jefe de Navegación y Control
9,27,"CARRASCO, Maximiliano",Gerencia de Servicios Espaciales,Operador NOC
10,31,"FABRIS, Martin German",Gerencia de Servicios Espaciales,Gerente de Servicios Espaciales
11,32,"GANON, Luis Alberto",Gerencia de Servicios Espaciales,Jefe de RF Satelital (interino)
12,36,"JASMINOY, Francisco",Gerencia Comercial,Ejecutivo de Cuentas
13,38,"MANZANERA, Jose Luis",Gerencia de Servicios Espaciales,Analista de Calidad de VSAT
14,39,"MONSALVE, Hernan Gustavo",Gerencia de Servicios Espaciales,Ingeniero de Operaciones

### 5. Renombrar la columna 'Nombre' por 'Apellido y Nombre'

In [208]:
df.rename(columns = {'Nombre':'Apellido y Nombre'}, inplace = True)

### 6.a Separar la columna 'Apellido y Nombre' generando las columnas 'Apellido' y 'Nombre' que deben ser concatenadas al dataframe

In [209]:
name = df["Apellido y Nombre"].str.split(',', expand=True)
name.columns = ['Apellido', 'Nombre']
df = pd.concat([df, name], axis=1)

### 6.b Una vez creadas las columnas, eliminar la columna 'Apellido y Nombre'

In [211]:
df.drop(df.columns[1], axis=1, inplace=True)

### 6.c Ordenar las columnas de modo tal que el orden sea: 'Código', 'Apellido', 'Nombre', 'Gerencia', 'Puesto'

In [213]:
df = df[['Código', 'Apellido', 'Nombre', 'Gerencia','Puesto']]

### 7.a Ver un listado de todas las gerencias que informa el dataframe

In [215]:
lista_gerencias = df['Gerencia'].unique()
print(lista_gerencias)

['Gerencia General' 'Subgerencia de RRHH y RSE'
 'Unidad de Auditoría Interna' 'Gerencia de Operaciones'
 'Gerencia de Administración y Finanzas'
 'Gerencia de Servicios Espaciales' 'Gerencia Comercial'
 'Subgerencia de Servicios Corporativos y Logística'
 'Gerencia de Tecnología Informática' 'Secretaría General' 'Directorio'
 'Gerencia de Asuntos Jurídicos' 'Gerencia de Relaciones Institucionales'
 'Compliance' 'CEATSA' 'Presidencia']

### 7.b Cantidad de gerencias informadas

In [216]:
print(len(lista_gerencias))

16

### 8.a Crear un nuevo dataframe con los registros que son ingenieros

In [217]:
df_ingenieros = df[df['Puesto'].str.contains('Ingeniero')]

### 8.b Cantidad de ingenieros informados

In [218]:
df_ingenieros.shape[0]

43

### 9.a Generar una nueva columna llamada 'Antigüedad' con valores en base a la columna 'Código':

- Si el Código está entre 0 y 300 -> Va a tener el valor de 'Antigüedad 1'
- Si el Código está entre 301 y 900 -> Va a tener el valor de 'Antigüedad 2'
- Si el Código está de 901 en adelante -> Va a tener el valor de 'Antigüedad 3'

In [219]:
def antiguedad(i):
    if i >= 0 and i <= 300:
        return 'Antigüedad 1'
    elif i > 300 and i <= 900:
        return 'Antigüedad 2'
    elif i > 900:
        return 'Antigüedad 3'

df['Antigüedad'] = df.apply(lambda x: antiguedad(x['Código']), axis=1)

### 9.b Cantidad que pertenecen a cada categoría

In [221]:
df['Antigüedad'].value_counts()

Antiguedad 2    330
Antiguedad 3    285
Antiguedad 1    146
Name: Antiguedad, dtype: int64

### 10. Generar un Excel con todas las modificaciones realizadas al dataframe original

In [ ]:
df.to_excel('df_final', index=False)